<!--index-->

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #B76E79;
  color: #333;
}

h1, h2, h3, p, ul, cite, ol {
  color: #E6E6FA;
}

h1, h2 {
  text-align: center;
}

img {
  margin-bottom: 20px;
}

.img-left {
  float: left;
  margin-left: 20px;
  width: 48%;
}

.img-right {
  float: right;
  margin-right: 20px;
  width: 48%;
}

<!--products-->

body {
  background-color: #B76E79;
}

h1, h2 {
  color: #ffd5ed;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #fff5f5;
  padding: 8px;
}

th {
  background-color: #ffd5ed;
  color: black;
}

tr:nth-child(odd), tr:nth-child(even) {
  background-color: #fff5f5;
}

<!--tutorials-->

#logo {
  text-align: left;
  text-decoration: none;
  color: #ffd5ed;
}

nav {
  float: right;
  padding: 0 10px 10px 10px;
}

nav a {
  text-decoration: underline;
  padding: 10px;
  color: #ffd5ed;
}

.tutorial-section {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tutorial {
  flex: 1 1 30%;
  margin: 1.4%;
  padding: 15px;
  background-color: #f2fcff;
  box-sizing: border-box;
  text-align: center;
  max-width: 30%;
}
