/* General Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #B76E79;
  color: #333;
  line-height: 1.6;
}

/* Header Styling */
header {
  text-align: center;
  padding: 20px;
  background-color: #ffd5ed;
}

header h1 {
  font-size: 2em;
  color: #333;
}

/* Section Styling */
.intro-section {
  text-align: center;
  padding: 20px;
}

.intro-text {
  font-size: 1.5em;
  color: #E6E6FA;
}

.image-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.left-image, .right-image {
  width: 45%;
  height: auto;
  border-radius: 10px;
}

.content-section {
  padding: 20px;
  background-color: #fff5f5;
}

.content-section h2 {
  color: #B76E79;
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 15px;
}

.content-section p {
  font-size: 1.1em;
  color: #333;
  padding: 10px 0;
}

/* List Styling */
ul, ol {
  margin: 10px;
  padding-left: 20px;
}

blockquote {
  font-style: italic;
  color: #666;
  padding: 10px;
  margin: 15px;
  border-left: 5px solid #ffd5ed;
  background-color: #f2fcff;
}

/* Skincare Image Styling */
.skincare-images {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.skincare-images img {
  width: 30%;
  height: auto;
  border-radius: 10px;
  margin: 5px;
}

/* Contact Styling */
address {
  font-size: 1.1em;
  color: #333;
  text-align: center;
}

address a {
  color: #333;
  text-decoration: underline;
}

